<ion-view view-title="QR Scan Test">
  <ion-content>
    <div ng-controller="qrCtrl">

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Test QR Scanner
            </div>
            <div class="item item-text-wrap">
              <button class="button button-positive" ng-click="scanCode()">
                Scan QR Code!
              </button>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Test Log
            </div>
            <div class="item item-text-wrap" ng-model="TEST_LOG">
              <pre>{{TEST_LOG}}</pre>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

    </div><!-- qrCtrl -->
  </ion-content>
</ion-view>
