<ion-view view-title="GPS Test">
  <ion-content>
    <div ng-controller="gpsCtrl">

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Test GPS Locator
            </div>
            <div class="item item-text-wrap">
              <button class="button button-positive" ng-click="getGpsLocation()">
                Get Current Location!
              </button>
              <button class="button button-energized" ng-click="setGpsLocation()">
                Set Dst GPS Location!
              </button>
              <button class="button button-balanced" ng-click="plotRoute()">
                Plot Route!
              </button>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Test Log
            </div>
            <div class="item item-text-wrap" ng-model="TEST_LOG">
              <pre>{{TEST_LOG}}</pre>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Google Map
            </div>
            <div class="item">
              <div class="google-map-container">
                <div id="map" data-tap-disabled="true"></div>
              </div>
            </div>
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- gpsCtrl -->
  </ion-content>
</ion-view>
