<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="GPS Test" icon="ion-map" href="#/tab/gps">
    <ion-nav-view name="tab-gps"></ion-nav-view>
  </ion-tab>

  <ion-tab title="QR Scan Test" icon="ion-qr-scanner" href="#/tab/qrscan">
    <ion-nav-view name="tab-qrscan"></ion-nav-view>
  </ion-tab>

</ion-tabs>
